/****** Object:  ForeignKey [FK_tblProduct_tblCategory]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblProduct_tblCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblProduct]'))
ALTER TABLE [dbo].[tblProduct] DROP CONSTRAINT [FK_tblProduct_tblCategory]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblProduct]') AND type in (N'U'))
DROP TABLE [dbo].[tblProduct]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblCategory]') AND type in (N'U'))
DROP TABLE [dbo].[tblCategory]
GO
/****** Object:  Table [dbo].[tblNews]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblNews]') AND type in (N'U'))
DROP TABLE [dbo].[tblNews]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblEmail]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblEmail]') AND type in (N'U'))
DROP TABLE [dbo].[tblEmail]
GO
/****** Object:  Table [dbo].[tblInformation]    Script Date: 08/05/2009 00:49:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblInformation]') AND type in (N'U'))
DROP TABLE [dbo].[tblInformation]
GO
/****** Object:  Table [dbo].[tblInformation]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblInformation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblInformation](
	[ID] [uniqueidentifier] NOT NULL,
	[CompanyNameVN] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanyNameEN] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Logo] [image] NULL,
	[IntroduceVN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntroduceEN] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactVN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactEN] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_tblInformation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblInformation] ([ID], [CompanyNameVN], [CompanyNameEN], [Logo], [IntroduceVN], [IntroduceEN], [ContactVN], [ContactEN], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted]) VALUES (N'c75d5000-ab74-4a38-88c5-23e00a66ea36', NULL, NULL, NULL, NULL, NULL, N'<p>Cap nhat ne 2</p>', NULL, CAST(0x00009C5A017C12B6 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblInformation] ([ID], [CompanyNameVN], [CompanyNameEN], [Logo], [IntroduceVN], [IntroduceEN], [ContactVN], [ContactEN], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted]) VALUES (N'77e9ccf3-47ae-4f9f-a4eb-3d8a0bffa14a', NULL, NULL, NULL, NULL, NULL, NULL, N'<p>ccxzczczxc</p>', CAST(0x00009C5A003915CE AS DateTime), NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[tblEmail]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblEmail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblEmail](
	[ID] [uniqueidentifier] NOT NULL,
	[SendDate] [datetime] NULL,
	[Sender] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SendTo] [tinyint] NULL,
	[Title] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Content] [nvarchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_tblEmail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblEmail] ([ID], [SendDate], [Sender], [Email], [SendTo], [Title], [Content]) VALUES (N'fab75de1-7a03-4cd3-b186-06bc8dd83f6e', CAST(0x00009C5B001367BE AS DateTime), N'fdsgj', N'duongbkit@gmail.com', 2, N'fdksf;l', N'fkds;fls')
INSERT [dbo].[tblEmail] ([ID], [SendDate], [Sender], [Email], [SendTo], [Title], [Content]) VALUES (N'7c7f1069-6483-496f-84c5-171fb1f3927b', CAST(0x00009C590109E534 AS DateTime), N'fdsfsfs', N'duongbkit@gmail.com', 1, N'her her', N'noi dung')
INSERT [dbo].[tblEmail] ([ID], [SendDate], [Sender], [Email], [SendTo], [Title], [Content]) VALUES (N'62f051d5-c9c8-4177-bf65-1f2c87ab4e18', CAST(0x00009C5B0004F354 AS DateTime), N'hejlkfjdsl', N'duongbkit@gmail.com', 2, N'fdsfsdfdfds', N'fdsfdsfsdf')
/****** Object:  Table [dbo].[tblUser]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblUser](
	[ID] [uniqueidentifier] NOT NULL,
	[UserNo] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [tinyint] NULL,
	[UserName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Password] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Deleted] [bit] NULL,
	[Email] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Department] [tinyint] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblUser] ([ID], [UserNo], [Status], [UserName], [Password], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted], [Email], [Department]) VALUES (N'336faf4a-1e44-4f37-a8da-23563468e3be', NULL, NULL, N'accounts', N'9jmwyACJtiaqSgkScwg+PuM0zcfHMvHuftAN5WNGH/o=', CAST(0x00009C5B0004496C AS DateTime), NULL, NULL, NULL, NULL, N'hungpham12d2@gmail.com                            ', 5)
INSERT [dbo].[tblUser] ([ID], [UserNo], [Status], [UserName], [Password], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted], [Email], [Department]) VALUES (N'474edbdd-53da-461c-b86d-2d12ccf4cc9c', NULL, NULL, N'marketing', N'9jmwyACJtiaqSgkScwg+PuM0zcfHMvHuftAN5WNGH/o=', CAST(0x00009C5B0004496C AS DateTime), NULL, NULL, NULL, NULL, N'vubao12a3@gmail.com                               ', 3)
INSERT [dbo].[tblUser] ([ID], [UserNo], [Status], [UserName], [Password], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted], [Email], [Department]) VALUES (N'9aec3da5-519d-4b34-b553-412e2909a2b6', NULL, NULL, N'manager', N'9jmwyACJtiaqSgkScwg+PuM0zcfHMvHuftAN5WNGH/o=', CAST(0x00009C5B00044921 AS DateTime), NULL, NULL, NULL, NULL, N'hungpham12d2@yahoo.com                            ', 1)
/****** Object:  Table [dbo].[tblNews]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblNews]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblNews](
	[ID] [uniqueidentifier] NOT NULL,
	[TitleVN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TitleEN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubjectVN] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubjectEN] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentVN] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentEN] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Type] [tinyint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PostedDate] [datetime] NULL,
	[PostedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EndedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EndedDate] [datetime] NULL,
	[Deleted] [bit] NULL,
	[Image] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_tblNews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblNews] ([ID], [TitleVN], [TitleEN], [SubjectVN], [SubjectEN], [ContentVN], [ContentEN], [Type], [CreatedDate], [CreatedBy], [PostedDate], [PostedBy], [EndedBy], [EndedDate], [Deleted], [Image]) VALUES (N'46c9255a-eae8-4e2b-83a3-0a2721e43e75', NULL, N'troi oi oi oi oi oi oi oi oi ooi oi oi oi oi oi oio', NULL, N'dsdsadkl', NULL, N'<p>fdsfdsjk;l;</p>', 3, CAST(0x00009C5A016C4B2B AS DateTime), NULL, CAST(0x00009C5A016C4B2B AS DateTime), NULL, NULL, NULL, NULL, N'/Admin/ThumbImagesNewsSmallest/46c9255aeae84e2b83a30a2721e43e75.jpg')
INSERT [dbo].[tblNews] ([ID], [TitleVN], [TitleEN], [SubjectVN], [SubjectEN], [ContentVN], [ContentEN], [Type], [CreatedDate], [CreatedBy], [PostedDate], [PostedBy], [EndedBy], [EndedDate], [Deleted], [Image]) VALUES (N'9246de25-2724-441d-b1f2-2d2a4f715048', NULL, N'fdkjsfdsl', NULL, N'fkdlsjgslkd', NULL, N'<p>gjkldsfjgls</p>', 1, CAST(0x00009C5A016C77E2 AS DateTime), NULL, CAST(0x00009C5A016C77E2 AS DateTime), NULL, NULL, NULL, NULL, N'/Admin/ThumbImagesNews/9246de252724441db1f22d2a4f715048.JPG')
INSERT [dbo].[tblNews] ([ID], [TitleVN], [TitleEN], [SubjectVN], [SubjectEN], [ContentVN], [ContentEN], [Type], [CreatedDate], [CreatedBy], [PostedDate], [PostedBy], [EndedBy], [EndedDate], [Deleted], [Image]) VALUES (N'97da4ce5-4a4f-4c1e-83a0-37154c331486', NULL, N'fdsfdsfs', NULL, N'fdsfdsfsdf', NULL, N'<p>fdsfsdfsdf</p>', 4, CAST(0x00009C5A017ACA3D AS DateTime), NULL, CAST(0x00009C5A017ACA3D AS DateTime), NULL, NULL, NULL, NULL, N'/Admin/ThumbImagesNews/97da4ce54a4f4c1e83a037154c331486.jpg')
/****** Object:  Table [dbo].[tblCategory]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblCategory](
	[ID] [uniqueidentifier] NOT NULL,
	[CategoryNo] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CategoryNameVN] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CategoryNameEN] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DescriptionVN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DescriptionEN] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblCategory] ([ID], [CategoryNo], [CategoryNameVN], [CategoryNameEN], [DescriptionVN], [DescriptionEN], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted]) VALUES (N'd6eebc9f-9dbd-46c2-a377-26edb734543e', N'1', N'Cửa sổ mở hất ra ngoài', NULL, N'Khong co gi', NULL, CAST(0x00009C5900F4E3AB AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCategory] ([ID], [CategoryNo], [CategoryNameVN], [CategoryNameEN], [DescriptionVN], [DescriptionEN], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted]) VALUES (N'1a3d8b6f-a4b1-416f-a096-67de2840fde9', N'1', N'Cửa sổ mở quay vào trong', NULL, N'Khong co gi', NULL, CAST(0x00009C5900F5025B AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCategory] ([ID], [CategoryNo], [CategoryNameVN], [CategoryNameEN], [DescriptionVN], [DescriptionEN], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Deleted]) VALUES (N'7681869c-d716-4466-9cf5-6858d3b2ba08', N'1', N'Cửa đi xếp trượt', NULL, N'Khong co gi de mo ta', NULL, CAST(0x00009C5900F47BD0 AS DateTime), NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[tblProduct]    Script Date: 08/05/2009 00:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblProduct]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblProduct](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductNo] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[ProductNameVN] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductNameEN] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriceVN] [float] NULL,
	[PriceEN] [float] NULL,
	[Image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedDate] [datetime] NULL,
	[Deleted] [bit] NULL,
	[Promoted] [bit] NULL,
	[StoreStatus] [bit] NULL,
	[WarrantyTime] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Property] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tblProduct] ([ID], [ProductNo], [CategoryID], [ProductNameVN], [ProductNameEN], [Description], [PriceVN], [PriceEN], [Image], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Promoted], [StoreStatus], [WarrantyTime], [Property]) VALUES (N'2e154194-d502-4bdf-a5ef-45320bfd2ad5', NULL, N'1a3d8b6f-a4b1-416f-a096-67de2840fde9', N'ten san pham ne', NULL, N'<p>tesct choi thoi</p>', 10000, NULL, N'/Admin/ThumbImagesNews/2e154194d5024bdfa5ef45320bfd2ad5.JPG', NULL, CAST(0x00009C5C000308E1 AS DateTime), NULL, NULL, NULL, 1, 1, N'12 thang', N'test choi')
/****** Object:  ForeignKey [FK_tblProduct_tblCategory]    Script Date: 08/05/2009 00:49:15 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblProduct_tblCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblProduct]'))
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblProduct_tblCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblProduct]'))
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_tblProduct_tblCategory]
GO
