html 
{
    height:100%;
}
body 
{
    background: url(images/bgtopBody.jpg) #009ee1 top no-repeat;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:980px;height:100%; 
    font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}


/* ===================== Page layout ====================== */
#page {margin:0px; width:980px;height:100%;position:relative;}

#pageHeader {height:120px;border-top:solid 1px black;position:relative;}
#pageHeader .menu {margin-top:5px;margin-left: 0;padding-left: 0;white-space: nowrap;text-align:right;font:normal 11px Arial;}
#pageHeader .menu li{display: inline;list-style-type: none;}
#pageHeader .menu a { padding: 3px 10px; }
#pageHeader .menu a:link, #pageHeader a:visited{color:#c6c6c6;text-decoration: none;}
#pageHeader .menu a:hover{color: white;text-decoration: none;}
#pageHeader .logo{margin-left:30px;background: url(images/logo.gif) no-repeat left top ; width:202px;height:71px;}

.searchbox {position:absolute; top: 50px; right:5px; background-color:#282828; padding:6px 10px; color:White; vertical-align: middle;}
.searchbox_textbox { border:solid 1px #757575; background-color:#d3d3d3; height:20px;  vertical-align: middle;  margin:0px; padding:2px 0 0 0;}
.searchbox_btn {background: white url(images/search_btn.png) no-repeat left top ;  width:30px; height:24px; border:0px;  vertical-align: middle; margin:0px; padding:0px; cursor:pointer;}

#navigation {margin-left:240px;}
#navigation .menu {margin:0px;padding:0px;white-space: nowrap;margin-bottom:10px; font: bold 16px Arial;letter-spacing:0.06em;}
#navigation .menu li {display: inline;list-style-type: none;}
#navigation .menu a { padding: 100px 15px 10px 15px;}
#navigation .menu a:link, .menu a:visited{color: #efefef;text-decoration: none;}
#navigation .menu a:hover, .menu a.active{color: black;text-decoration: none;background: white url(images/menu_bg.png) repeat-x left bottom ; }

.submenu h2 { margin:10px 0 0 15px; font: bold 16px Arial; letter-spacing:0.06em; color:White;}
.submenu ul {list-style-type:none; margin:10px 0 0 20px; padding:0px;}
.submenu li {padding-top:5px;}
.submenu li a {color:White; text-decoration: none;}
.submenu li a:hover {color:#f2581c; text-decoration: underline;}

#pageContent {display: block; background-color:White;background: white url(images/content_bg.png) repeat-y -980px top ; border-bottom:solid 1px transparent;}
#pageContent .b {background: url(images/content_bg.png) no-repeat 0px -20px; min-height:300px;margin:0px;padding:0px;}
#pageContent .b .left {width:235px;float:left;height:auto;margin-top:10px;}
#pageContent .b .right{width:720px;margin-left:245px;margin-top:10px;display:table;}
.pageContentFooter {height:20px;background: url(images/content_bg.png) no-repeat 0px top; }
#pageFooter {margin-top:10px;border:0px;text-align:center;color:#d5d5d5;font-size:11px; letter-spacing:0.05em;}
#pageFooter a:link, #pageFooter a:visited {color:White; text-decoration:none;}
#pageFooter a:hover {color:White; text-decoration:underline;}

.banners {margin:5px;}
.banners ul { list-style-type:none; margin:0px; padding:0px; white-space: nowrap; width:690px; }
.banners ul li {float: left; display:block; width:230px;list-style-type: none;}
.banners ul li a { height:40px; background: url(images/banner_btn.png) repeat-x top left; width: 100%; display:block; line-height:40px; color:#ededed; text-decoration:none; text-align:center;}
.banners ul li a:hover {background: url(images/banner_btn.png) repeat-x -40px left; color:White;}


/* ===================== Grid / Table / List ====================== */

.grid {margin-left:15px;}
.gridItem { float:left; width:170px; display:block; height:180px;}
.gridItem .frame {background: url(images/cell_bg.png) no-repeat 0px top; width:140px; height:113px;margin-left:auto;margin-right:auto; border-bottom:solid 5px white;}
.gridItem .frame img { margin:6px;   }

.gridItem .content {margin-top:10px;margin-left:auto;margin-right:auto;width:142px; }
.gridItem .content .price { color:#4fbc1e; font:bold 12px Arial; float:left;}
.gridItem .content .addtocart {margin-left:70px;}
.gridItem .content .addtocart img { border:0px;}
.gridItem .content .name {margin-top:2px; font:bold 12px Arial; color:#f2581c; height:50px;}
.gridItem .content .name a {color:#f2581c; text-decoration:none;}
.gridItem .content .name a:hover { color:#000000;  text-decoration:underline;}
.gridItem .content .desc {display:none;}

.gridItem_on .frame {background: url(images/cell_bg.png) no-repeat -140px top; width:148px; height:120px; margin-left:auto;margin-right:auto;cursor:pointer; border:0px;}
.gridItem_on .frame img {margin:7px 0px 6px 6px; width:130px; height:104px;}

.gridItem_v {position:relative; width:100%; height:120px;}
.gridItem_v .frame {float: left; background: url(images/cell_bg.png) no-repeat 0px top;  width:140px; height:113px; margin-left:auto; margin-right:auto; cursor:pointer;}
.gridItem_v .frame img { margin:6px;}
.gridItem_v .content {margin-left:145px; padding:5px; background-color:#f2f2f2; height:105px; width:460px;}
.gridItem_v .content .price {color:#4fbc1e;font:bold 12px Arial; float:right; display:inline;  background-color:#eaeaea; width:80px; text-align:center; position:absolute; right:10px; top:0px; padding-top:5px;}
.gridItem_v .content .addtocart {color:#4fbc1e;font:bold 12px Arial; float:right; margin:50px 0 0 -20px;  display:inline; position:absolute; right:10px; top:-30px; background-color:#eaeaea; width:80px; height:85px; text-align:center; padding-top:10px;}
.gridItem_v .content .addtocart img {border:0px;}
.gridItem_v .content .name { display:block; font:bold 14px Arial;}
.gridItem_v .content .desc { margin-top:5px; display:block; width:460px;}

.gridItem_v_on .frame {float: left;background: url(images/cell_bg.png) no-repeat -140px top; width:148px; height:117px;margin-left:auto;margin-right:auto;cursor:pointer;}
.gridItem_v_on .frame img {margin:7px 0px 6px 6px; width:130px; height:104px;}
.gridItem_v_on .content {margin-left:145px; padding:5px; background-color:#f9f0eb; height:105px;}
.gridItem_v_on .content .price {color:#4fbc1e;font:bold 12px Arial; float:right; display:inline;  background-color:#fbf4ef; width:80px; text-align:center; position:absolute; right:10px; top:0px; padding-top:5px;}
.gridItem_v_on .content .addtocart {color:#4fbc1e;font:bold 12px Arial; float:right; margin:50px 0 0 -20px;  display:inline; position:absolute; right:10px; top:-30px; background-color:#fbf4ef; width:80px; height:85px; text-align:center; padding-top:10px;}

.topic {width:700px; margin:10px 0; display:table; height:30px;}
.topic h2 { font: bold 22px Arial; float:left; margin:0px; padding:0px;}
.topic .display {float:right;}
.topic .gridview {background: url(images/display_btn.png) no-repeat left top; width:28px; height:26px; float:left; cursor:pointer;}
.topic .listview {background: url(images/display_btn.png) no-repeat -28px top; width:28px; height:26px;  float:left; cursor:pointer;}
.topic .grid_on {background: url(images/display_btn.png) no-repeat left -26px; width:28px; height:26px;  float:left; cursor:pointer;}
.topic .list_on {background: url(images/display_btn.png) no-repeat -28px -26px; width:28px; height:26px; float:left; cursor:pointer;}

.list {list-style-type:none; margin:5px 0 0 10px; padding:0px;}
.list li {margin-top:3px;}
.list li a { color:#808080; text-decoration:none;}
.list li a:hover { text-decoration:underline;}

/* ===================== Block ====================== */

.block {background: url(images/block.png) repeat-y -1960px top; width:980px; display:table; }
.block .h {background: url(images/block.png) no-repeat left top; width:980px; height:13px;}
.block .b {background: url(images/block.png) no-repeat -980px bottom; width:980px;  min-height:80px; padding: 0px 0px 15px 0px; display:table;}
.block .f {}
.block .line {background: url(images/block_line.png) no-repeat left top; width:4px; height:111px; float:left; margin:0px 7px 0 3px;}
.newsletter {float:left; width:220px;}
.newsletter p { margin:5px;}
.newsletter_text {border:solid 1px gray; width:180px; margin:5px 0px;}
.newsletter_btn {background-color:White; border:solid 1px gray; width:184px; cursor:pointer;}

/* ===================== Elements ====================== */

.margin_l_10 {margin-left:10px;}
.margin_t_10 {margin-top:10px;}
.fLeft {float:left;}
.w180 {width:176px; }
.w200 {width:200px;}

.f11 { font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}

.cGray {color:#2f2f2f;}
.bold {font-weight:bold;}


/*/////////////////////////////////////
/// */@import url('fontsize.css');/*///
=======================================
========|| Copyright: thanhPr[0] ||====
-- mail:phut_thatlong_101@yahoo.com ---
---Phone number: 0974029482 :----------
========|| Allright : Moore Corp ||==== 
/////////////////////////////////////*/
a{
	text-decoration:none;
}
p{
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}
*{
	margin: 0;
	padding: 0;
	outline:none;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
img{
	border:none;
}
#mainBdy{
	width:960px;
	height:auto;
	margin:0 auto;
}
#mainCtentBdy{
	background:#FFF;
	padding:10px;
	min-height:600px;
	height:auto!important;
	height:600px;

}
#mainCtentBdyBtom{
	background:url(images/bgBdyBtom.jpg) bottom left repeat-x;
	padding-bottom:56px;

}
#header{
	width:100%;
	height:69px;
	clear:both;
	overflow:hidden;
}
.boxLogo{
	float:left;
	width:218px;
	height:auto;
	overflow:hidden;
}
.boxSearchTOp{
	background:url(images/bgSearch.jpg) top left no-repeat;
	width:244px;
	height:29px;
	float:right;
	margin-top: 14px;
}
.banner{
	width:941px;
	height:147px;
	overflow:hidden;
	clear:both;
	margin-bottom:1px;
}
.barMenuTop{
	background:url(images/bgBarCter.jpg) top left repeat-x;
	height:31px;
	clear:both;
	margin-bottom:10px;
}
.barMenuTopLeft{
	background:url(images/bgBarLeft.jpg) top left no-repeat;
	height:31px;
}
.barMenuTopRight{
	background:url(images/bgBarRight.jpg) top right no-repeat;
	height:31px;
}
.barMenuTop ul{
	margin:0;
	padding:0 10px 0 10px;
}
.barMenuTop ul li{
	list-style:none;
	line-height:31px;
	float:left;
	background:url(images/lineBar.jpg) right no-repeat;
	padding: 0 6px 0 3px;
}
.barMenuTop ul li a{
	padding: 0 0 0 20px;
	display:block;
	font-size:11px;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
}
.barMenuTop ul li a span{
	padding:0 20px 0 0;
	display:block;
}
.barMenuTop ul li a:hover, .barMenuTop ul li a.selected{
	background:url(images/aHver.jpg) top left no-repeat;
	color:#000;
	display:block;
}
.barMenuTop ul li a:hover span, .barMenuTop ul li a.selected span{
	background:url(images/aHverSpan.jpg) top right no-repeat;
	display:block;
}
.boxLanguage{
	float:right;
	line-height:31px;
	width:51px;
	padding-top:8px;
	padding-right:10px;
}
.boxLanguage a.viet{
	background:url(images/language.jpg) 0 0 no-repeat;
	float:left;
	width: 26px;
	height:31px;
}
.boxLanguage a.Eng{
	background:url(images/language.jpg) no-repeat;
	background-position: -26px 0;
	float:right;
	width: 24px;
	height:31px;
}
#mainColunmLeft{
	float:left;
	width:208px;
	margin:0 10px 0 0;
}
#mainSlideNews{
	width:auto;
	clear:both;
	margin-bottom:10px;
}
#mainColunmRight{
	float:left;
	width:722px;
}
#mainCtentSpRight{
	clear:both;
}
#mainMnuLeft{
	background:url(images/bgCterMnu.jpg) top left repeat-y;
	width:208px;
	height:auto;
	clear:both;
	margin-bottom:10px;
}
.mainMnuLeftTOp{
	background:url(images/bgMnuTop.jpg) top left no-repeat;
	width:100%;
	padding-top:4px;
}
.mainMnuLeftBtom{
	background:url(images/bgMnuBtom.jpg) bottom left no-repeat;
	width:100%;
}
.mainMnuContent{
	padding: 0 2px 10px 2px;
}
.barTabMnu{
	background:url(images/bgTabCter.jpg) top left repeat-x;
	height:29px;
	margin-bottom:4px;
	clear:both;
}
.barTabMnuLeft{
	background:url(images/bgTabLeft.jpg) top left no-repeat;
	height:29px;
}
.barTabMnuRight{
	background:url(images/bgTabRight.jpg) top right no-repeat;
	height:29px;
}
.ctentBarTab{
	padding: 0 0 0 10px;
	line-height:29px;
	color:#FFF;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}
.contentMnu{
	background:#d9d9d9;
	margin: 0 4px 4px 4px;
}
.contentMnu ul{
	margin: 0;
	padding:0 4px 0 4px;
}
.contentMnu ul li{
	background:url(images/iconMnu.jpg) 0 9px no-repeat;
	display:block;
	list-style:none;
	padding: 0 0 0 20px;
	line-height:16px;
	min-height:16px;
	height:auto!important;
	height:16px;
}
.contentMnu ul li a{
	background:url(images/lineMnu.jpg) bottom no-repeat;
	color:#000;
	font-size:12px;
	font-weight:bold;
	display:block;
	padding: 7px 0 7px 0;
}
.contentMnu ul li a:hover{
	color:#F60;
}
.boxSlideShow{
	background:url(images/bgCterSlide.jpg) top left repeat-y;
	width:507px;
	margin-right:7px;
	float:left;
}
.boxSlideShowTOP{
	background:url(images/bgTopSlide.jpg) top left no-repeat;
	width:507px;
}
.boxSlideShowbtom{
	background:url(images/bgBtomSlide.jpg) bottom left no-repeat;
	width:507px;
}
.boxSlideShowCtent{
	padding: 15px;
	overflow:hidden;
}
.boxNews{
	background:url(images/bgNewsCter.jpg) top left repeat-y;
	width:208px;
	float:left;
}
.boxNewsTop{
	background:url(images/bgNewsTop.jpg) top left no-repeat;
	width:208px;
}
.boxNewsBtom{
	background:url(images/bgNewsBtom.jpg) bottom left no-repeat;
	width:208px;
}
.boxNewsCtent{
	padding: 2px;
	min-height:318px;
	height:auto!important;
	height:318px;
}
.boxTabNews{
	background:url(images/bgTabRightCter.jpg) top left repeat-x;
	height:28px;
	margin-bottom:2px;
}
.boxTabNewsLeft{
	background:url(images/bgTabRightLeft.jpg) top left no-repeat;
	height:28px;
}
.boxTabNewsRight{
	background:url(images/bgTabRightRight.jpg) top right no-repeat;
	height:28px;
}
.boxSubTin1{
	background:#f2f2f2;
	padding:2px;
	line-height:16px;
}
.imgSubNews{
	padding:2px;
	border:1px solid #d4d4d4;
	width:48px;
	float:left;
	margin: 0 4px 0 0;
}
.color1{
	color:#000;
}
a.color1{
	color:#000;
}
a.color1:hover{
	color:#F60;
}
.barCterTab{
	background:url(images/bgTabCterCter.jpg) top left repeat-x;
	height:23px;
	margin-bottom:2px;
}
.barCterTabLleft{
	background:url(images/bgtabCterLeft.jpg) top left no-repeat;
	height:23px;
}
.barCterTabRight{
	background:url(images/bgTabCterRight.jpg) top right no-repeat;
	height:23px;
}
.boxCtentSp{
	background:url(images/bgSpCter.jpg) top left repeat-y;
	width:724px;
	margin-bottom:10px;
}
.boxCtentSpTop{
	background:url(images/bgspTop.jpg) top left no-repeat;
	width:724px;
}
.boxCtentSpBtom{
	background:url(images/bgSpBtom.jpg) bottom left no-repeat;
	width:724px;
}
.boxCtentSpCtent{
	padding: 10px;
	line-height:16px;
}
.subSp{
	width:161px;
	float:left;
	overflow:hidden;
	margin: 0 8px 10px 4px;
	border:1px solid #d1d1d1;
	min-height:202px;
	height:auto!important;
	height:202px;

}
.subSp img{
	width:124px;
	height:auto;
	margin:10px 18px  auto;
}
.color2{
	color:#009ee1;
}
a.color2{
	color:#009ee1;
}
a.color2:hover{
	color:#F60;
}
.paddingTb4{
	padding: 4px 0 4px 0;
}
.paddingLr18px{
	padding: 0 18px 0 18px;
}
.imgGthieu{
	float:left;
	width:124px;
	height:116px;
	margin: 0 6px 0 0;
}
a.chitiet{
	color:#F30;
	font-size:11px;
}
a.chitiet:hover{
	color:#FC0;
	font-size:11px;
}
#footer{
	background:url(images/bgFoter.jpg) top left repeat-x;
	height:56px;
	clear:both;
	margin-top:6px;
	padding:2px 6px 6px 6px;
	color:#333
}
.boxKhuyenmai{
	padding: 6px;
}
.boxKhuyenmai ul{
	margin: 0;
	padding: 0;
}
.boxKhuyenmai ul li{
	list-style: none;
	line-height: 18px;
	background:url(images/icon1.jpg) 0 7px no-repeat;
	border-bottom:1px dotted #4c4c4c;
	padding: 2px 0 2px 10px;
}
.boxKhuyenmai ul li a{
	color:#000;
}
.boxKhuyenmai ul li a:hover{
	color:#F60
}
.boxHtroOline{
	background:url(images/bgCterOnline.jpg) top left repeat-y;
	width:208px;
	margin-bottom:10px;
}
.boxHtroOlineTop{
	background:url(images/bgTopOnline.jpg) top left no-repeat;
	width:208px;
}
.boxHtroOlineBtom{
	background:url(images/bgBtomOnline.jpg) bottom left no-repeat;
	width:208px;
}
.boxHtroOlineCtent{
	text-align:center;
	padding:10px;
	line-height:18px;
}
.boxQcLeft{
	width:208px;
	overflow:hidden;
	margin-bottom:10px;
}
.boxQcLeft img{
	margin-bottom:6px;
}
.input{
	padding:2px;
	font-size:12px;
	border:none;
	background:none;
}
.prevNext{
	padding: 10px 0 10px 0;
	text-align:center;
}
.prevNext a{
	padding: 2px 4px 2px 4px;
	color:#F60;
	font-weight:bold;
}
.prevNext a:hover{
	padding: 2px 4px 2px 4px;
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
	background:#BFBFBF
}