using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using System.Web.Routing;
using Superior.MobileMedics.MainWebSite.Lib;
using Superior.MobileMedics.MainWebSite.Utility;
using __DOMAIN_NAMESPACE__;
using Superior.MobileMedics.MainWebSite.Routing.Base;

namespace Superior.MobileMedics.MainWebSite.Routing
{
  public class __CONTROLLER__Route : Base__CONTROLLER__Route
  {
    /// <summary>
    /// constructor
    /// </summary>
    /// <param name="url"></param>
    public __CONTROLLER__Route(UrlHelper url) : base(url)
    {

    }
  }	
}