<?xml version="1.0" encoding="utf-8" ?>
<template xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <configuration>
    <system.web>
      <compilation debug="false" />
      <customErrors mode="RemoteOnly" />
      <trace enabled="false"/>
    </system.web>
  </configuration>
</template>