<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Superior.MobileMedics.DataMappers.LinqDataMapper.Properties.Settings.SMM_TrunkConnectionString"
            connectionString="Data Source=smm-server1;Initial Catalog=SMM-Trunk;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Superior.MobileMedics.DataMappers.LinqDataMapper.Properties.Settings.SMM_TrunkConnectionString1"
            connectionString="Data Source=SMM-SERVER1;Initial Catalog=SMM-Trunk;Persist Security Info=True;User ID=sa;Password=snowman09"
            providerName="System.Data.SqlClient" />
        <add name="Superior.MobileMedics.DataMappers.LinqDataMapper.Properties.Settings.SMM_TrunkConnectionString2"
            connectionString="Data Source=192.168.11.88;Initial Catalog=SMM-Trunk;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
